@import '../node_modules/open-color/open-color';

$primary-color: #003566;
$primary-color-hover: #002a52;
$primary-color-click: #00203d;

$secondary-color: #ffc300;
$secondary-color-hover: #cc9c00;
$secondary-color-click: #997500;

$text-white: $oc-gray-1;
$text-black: $oc-gray-8;
$text-dark-gray: $oc-gray-6;